.cart{
    &-wrapper{
        min-height: 70vh;
    }

    &-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5rem;
        background-color: #4e4e4e;

        margin-bottom: 5rem;
        &-logo{
            width: 5%;

            & img{
                width: 100%;
                height: 100%;
            }
        }

        &-title{
            color: #fff;
            width: 95%;
            transform: translateX(-3rem);
            text-align: center;
            font-size: 5rem;
            font-family: 'Bebas Neue', cursive;
            text-shadow: 5px 5px 10px rgb(0, 0, 0);
        }
    }

    &-head{
        color: #4e4e4e;
        font-size: 8rem;
        text-align: center;
        margin: 10rem 0;
        font-family: "PhosphateInline";
    }

    &-item{
        &-wrapper{
            // border: 1px solid;
            // height: 50vh;
        }

        width: 80%;
        margin: 2rem auto;
        height: 10rem;
        box-shadow: 5px 5px 10px rgba(150, 149, 149, 0.521);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        &>div{
            text-align: center;
            color: #4e4e4e;
            font-size: 2rem;
            font-family: 'Raleway', sans-serif;

        }
        &-img{
            width: 10%;
            & img{
                width: 6rem;
                height: 6rem;
                object-fit: cover;
                border-radius: 100%;
            }
        }
        &-name{
            width: 20%;
            text-align: left;
        }
        &-quantity{
            width: 45%;
            & button{
                color: #4e4e4e;
                background-color: transparent;
                border: none;
                font-size: 4rem;
                cursor: pointer;
                margin: 0 3rem;
                padding: 0 2rem;
            }

            & span{
                background-color: #eee;
                padding: 0.4rem 3rem;
                border-radius: 25px;
                font-weight: bold;
            }
        }
        &-price{
            width: 15%;
        }
        &-remove{
            cursor: pointer;
            transition: all 0.2s;
            &:hover{
                color: red;
            }
        }
    }
    &-total{
        padding: 0 5rem;
        color: #4e4e4e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        &>div{
            width: 50%;
        }
        &>div:first-child{
            font-size: 5rem;
            font-family: 'agencyfb';

        }
    }


    &overlay{
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.356);
        position: fixed;
        z-index: 10000;
        display: flex;
        align-items: center ;
        justify-content: center;
        &-close{
            position: absolute;
            right: 10rem;
            top: 10rem;
            font-size: 5rem;
            border-radius: 15px;
            border: 3px solid;
            padding: 1rem 2rem;
            cursor: pointer;
            color: #ff0000;
            transition: all 0.25s;
            &:hover{
                background-color: #f00;
                color: #fff;
                border-color: #f00;
            }
        }
        &-body{
            width: 70%;
            height: 80%;
            background-color: #fff;
            border: 5px solid;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center ;
            justify-content: center;
         & form{
            display: flex;
            flex-direction: column;
            align-items: center ;
            justify-content: center;
            width: 100%;
            & input,& textarea{
                width: 80%;
                height: 5rem;
                margin: 2rem 0;
                font-size: 2rem;
                padding: 1rem;
            }

            & textarea{
                height: 15rem;
            }

            & button{
                width: 10rem;
                height: 7rem;
                cursor: pointer;
                color: #4e4e4e;
                background-color: #fff;

            }
         }
        }
    }
}