.hero {
  &-wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
      url("../../asset/heroBg.png");
    width: 100%;
    height: 95.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
  }

  &-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
    &-main{
      font-size: 15rem;
      font-family: 'Bebas Neue', cursive;
    }

    &-sub{
      font-size: 2rem;
      font-family: 'Bahnscrift';
      font-weight: 100;
    }
    &-btn{
      margin: 2rem 0;
      background-color: transparent;
      border: 3px solid;
      color: #fff;
      padding: 1.5rem 5rem;
      font-size: 2rem;
      font-family: 'Bebas Neue', cursive;
      border-radius: 15px;
      transition: all 0.25s ease-in;
      cursor: pointer;
      outline: none;
      & a{
        color: inherit;
        text-decoration: none;
      }
      &:hover{
        color: #000;
        background-color: #fff;
        border-color: #fff;
      }


    }
  }

  &-foot{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: #fff;
    font-family: 'agencyfb';
    font-weight: bold;
    font-size: 2rem;
  }
}


//*-------------------------RESPONSIVE---------------------------------------


@media only screen and(max-width:1000px){
  .hero{
    &-heading{
      &-sub{
      font-size: 4rem;

      }
      &-btn{
        font-size: 3rem;
      }
    }
  }
}

//*-------------------------RESPONSIVE---------------------------------------