@font-face {
    font-family: 'Bahnscrift';
    font-weight: bold;
    src: url('../fonts/bahnscrift-bold.ttf') format("truetype");
}
@font-face {
    font-family: 'Bahnscrift';
    font-weight: 100;
    src: url('../fonts/bahnscrift-bold.ttf') format("truetype");
}
@font-face {
    font-family: 'berlin';
    font-weight: normal;
    src: url('../fonts/Berlin.ttf') format("truetype");
}
@font-face {
    font-family: 'agencyfb';
    font-weight: bold;
    src: url('../fonts/agency-fb-bold.ttf') format("truetype");
}
@font-face {
    font-family: 'agencyfb';
    font-weight: normal;
    src: url('../fonts/agency-fb-regular.ttf') format("truetype");
}


// font-family: 'Bebas Neue', cursive;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


//font-family: 'Raleway', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

//font-family: "PhosphateInline";
@import url("//db.onlinewebfonts.com/c/c4a64740ecb71342cea0a87b66ee15e0?family=PhosphateInline");